* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #4C5FD5;
    --white: #ffffff;
    --black: #000000;
    --pink: #dadbf1;
}

/* menu bar hidden style */


body {
    font-family: "Playfair Display", serif;
    font-size: 20px;
}   

.desktop {

    background: var(--black);
    height: 90px;
    display: flex;
    align-items: center;
}

.mobile {
    display: none;
}

.widthlen {
    width: 85%;
    margin: auto;

}

nav {
    display: flex;
    justify-content: space-between;
    color: var(--white);
}

nav > div {
    display: flex;
    justify-content: end;
    align-items: center;
}

nav > div:first-child > p{
    border-left: 3px solid var(--white);
    padding: 0 1rem;
} 

nav > div:first-child > img{
    padding-right: 1rem;
}


nav > div:nth-child(2) input {
    height: 45px;
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
}
nav > div:nth-child(2) p {
    border: 2px solid var(--white);
    padding: 7px 20px;
    border-radius: 5px;
    margin: 0 0.5rem;
}

nav > div:nth-child(2) p:last-child {
    background-color: var(--blue);
    padding: 9px 20px;
    border: none;
}

/* hero section styling */

main > div:first-child {
    background: var(--pink);
    color: var(--black);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div:first-child h1 {
    font-size: 56px
}

.mainSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.mainSection > input {
    width: 50%;
    height: 50px;
    border-radius: 5px;
    padding: 1rem;
}

.colSection {
    display: grid;
     grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.colSection img {
    width: 60px;
    height: 60px;
}

.mainContainer {
    padding: 4rem 0;
}

.colSection > div {
    display: flex;
}

.learnBtn {
    padding: 1rem 0;
    color: var(--blue)
}


/* footer styling */

footer {
    background: var(--black);
    color: white;
    padding: 3rem 0;
}

footer > div > div:first-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer > div > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}


footer h2 {
    padding-bottom: 1.5rem;
}

/* media query screen */

@media only screen and (max-width: 1200px) {
   .mobile {
        background: var(--black);
        color: var(--white);
        display: block;
    }

     .mobileNav > nav{ 
        display: flex;
        align-items: center;
        height: 90px;
    }

    .desktop {
        display: none;
   }

    .menuBar i {
        color: var(--white);
        font-size: 2rem;
    }
    
    .open {
        display: none
    }

}

@media only screen and (max-width: 768px) {
  .colSection {
        grid-template-columns: 1fr;
    }

    footer > div > div:first-child {
        flex-wrap: wrap;
    }
 
  }